CESLib/Connected Services/CESRef/rates1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://mondor.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mondor.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://mondor.org/Imports">
      <xsd:import schemaLocation="https://mondor.org/ces/rates.svc?xsd=xsd0" namespace="http://mondor.org/" />
      <xsd:import schemaLocation="https://mondor.org/ces/rates.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://mondor.org/ces/rates.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CESWS" />
      <xsd:import schemaLocation="https://mondor.org/ces/rates.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="iRates_GetCurrencyList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrencyList" />
  </wsdl:message>
  <wsdl:message name="iRates_GetCurrencyList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrencyListResponse" />
  </wsdl:message>
  <wsdl:message name="iRates_GetCurrencyCodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrencyCodes" />
  </wsdl:message>
  <wsdl:message name="iRates_GetCurrencyCodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrencyCodesResponse" />
  </wsdl:message>
  <wsdl:message name="iRates_Convert_InputMessage">
    <wsdl:part name="parameters" element="tns:Convert" />
  </wsdl:message>
  <wsdl:message name="iRates_Convert_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertResponse" />
  </wsdl:message>
  <wsdl:message name="iRates_CheckBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckBalance" />
  </wsdl:message>
  <wsdl:message name="iRates_CheckBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="iRates_CheckExpirationDate_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckExpirationDate" />
  </wsdl:message>
  <wsdl:message name="iRates_CheckExpirationDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckExpirationDateResponse" />
  </wsdl:message>
  <wsdl:message name="iRates_UpgradeAccessCode_InputMessage">
    <wsdl:part name="parameters" element="tns:UpgradeAccessCode" />
  </wsdl:message>
  <wsdl:message name="iRates_UpgradeAccessCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpgradeAccessCodeResponse" />
  </wsdl:message>
  <wsdl:message name="iRates_ConvertByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertByDate" />
  </wsdl:message>
  <wsdl:message name="iRates_ConvertByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertByDateResponse" />
  </wsdl:message>
  <wsdl:message name="iRates_GetMinimalDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMinimalDate" />
  </wsdl:message>
  <wsdl:message name="iRates_GetMinimalDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMinimalDateResponse" />
  </wsdl:message>
  <wsdl:message name="iRates_GetRatesMatrix_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRatesMatrix" />
  </wsdl:message>
  <wsdl:message name="iRates_GetRatesMatrix_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRatesMatrixResponse" />
  </wsdl:message>
  <wsdl:message name="iRates_GetCurrencyListCSV_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrencyListCSV" />
  </wsdl:message>
  <wsdl:message name="iRates_GetCurrencyListCSV_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrencyListCSVResponse" />
  </wsdl:message>
  <wsdl:message name="iRates_GetRetrospective_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRetrospective" />
  </wsdl:message>
  <wsdl:message name="iRates_GetRetrospective_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRetrospectiveResponse" />
  </wsdl:message>
  <wsdl:portType name="iRates">
    <wsdl:operation name="GetCurrencyList">
      <wsdl:input wsaw:Action="http://mondor.org/iRates/GetCurrencyList" message="tns:iRates_GetCurrencyList_InputMessage" />
      <wsdl:output wsaw:Action="http://mondor.org/iRates/GetCurrencyListResponse" message="tns:iRates_GetCurrencyList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCodes">
      <wsdl:input wsaw:Action="http://mondor.org/iRates/GetCurrencyCodes" message="tns:iRates_GetCurrencyCodes_InputMessage" />
      <wsdl:output wsaw:Action="http://mondor.org/iRates/GetCurrencyCodesResponse" message="tns:iRates_GetCurrencyCodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Convert">
      <wsdl:input wsaw:Action="http://mondor.org/iRates/Convert" message="tns:iRates_Convert_InputMessage" />
      <wsdl:output wsaw:Action="http://mondor.org/iRates/ConvertResponse" message="tns:iRates_Convert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckBalance">
      <wsdl:input wsaw:Action="http://mondor.org/iRates/CheckBalance" message="tns:iRates_CheckBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://mondor.org/iRates/CheckBalanceResponse" message="tns:iRates_CheckBalance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckExpirationDate">
      <wsdl:input wsaw:Action="http://mondor.org/iRates/CheckExpirationDate" message="tns:iRates_CheckExpirationDate_InputMessage" />
      <wsdl:output wsaw:Action="http://mondor.org/iRates/CheckExpirationDateResponse" message="tns:iRates_CheckExpirationDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpgradeAccessCode">
      <wsdl:input wsaw:Action="http://mondor.org/iRates/UpgradeAccessCode" message="tns:iRates_UpgradeAccessCode_InputMessage" />
      <wsdl:output wsaw:Action="http://mondor.org/iRates/UpgradeAccessCodeResponse" message="tns:iRates_UpgradeAccessCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertByDate">
      <wsdl:input wsaw:Action="http://mondor.org/iRates/ConvertByDate" message="tns:iRates_ConvertByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://mondor.org/iRates/ConvertByDateResponse" message="tns:iRates_ConvertByDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMinimalDate">
      <wsdl:input wsaw:Action="http://mondor.org/iRates/GetMinimalDate" message="tns:iRates_GetMinimalDate_InputMessage" />
      <wsdl:output wsaw:Action="http://mondor.org/iRates/GetMinimalDateResponse" message="tns:iRates_GetMinimalDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRatesMatrix">
      <wsdl:input wsaw:Action="http://mondor.org/iRates/GetRatesMatrix" message="tns:iRates_GetRatesMatrix_InputMessage" />
      <wsdl:output wsaw:Action="http://mondor.org/iRates/GetRatesMatrixResponse" message="tns:iRates_GetRatesMatrix_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyListCSV">
      <wsdl:input wsaw:Action="http://mondor.org/iRates/GetCurrencyListCSV" message="tns:iRates_GetCurrencyListCSV_InputMessage" />
      <wsdl:output wsaw:Action="http://mondor.org/iRates/GetCurrencyListCSVResponse" message="tns:iRates_GetCurrencyListCSV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRetrospective">
      <wsdl:input wsaw:Action="http://mondor.org/iRates/GetRetrospective" message="tns:iRates_GetRetrospective_InputMessage" />
      <wsdl:output wsaw:Action="http://mondor.org/iRates/GetRetrospectiveResponse" message="tns:iRates_GetRetrospective_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>